<div class="row">
    <div class="col-md-6">
    <form [formGroup]="movieForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <input formControlName="title" type="text" class="form-control mb-2" id="movieTitle" placeholder="Title">
                <input formControlName="description" type="text" class="form-control mb-2" id="descMovie" placeholder="Description">
                <input formControlName="imageUrl" type="text" class="form-control mb-2" id="imageUrl" placeholder="Image URL">
                <button type="submit" class="btn btn-success mb-2">Add Movie</button>
            </div>
    </form>
    </div>
</div>
